* {
  margin: 0;
  padding: 0;
}
body {
  background: #ffffff;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
}

.navbar {
  position: relative;
  border-bottom: #222 solid 1px;
  height: max-content;
}

nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  max-width: 80%;
  margin: auto;
}
nav .logo {
  position: relative;
  display: flex;
  align-items: center;
  margin: 20px 0px;
  color: #222;
  font-size: 32px;
}

nav .fetch {
  position: relative;
  display: flex;
  align-items: center;
  margin: 20px 0px;
}
nav .fetch button {
  position: relative;
  text-decoration: none;
  font-size: 20px;
  float: right;
  padding: 10px;
  cursor: pointer;
  border-radius: 4px;
  background: none;
  color: #222;
  border: solid 1px #222;
}
nav .fetch button:hover {
  background: #222;
  color: #fff;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  min-height: 60vh;
  flex-wrap: wrap;
  margin: 50px auto;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 250px;
  height: 250px;
  margin: 20px;
  border: #222 solid 1px;
}

.card img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.card h3 {
  padding: 20px 0;
  font-size: 24px;
  color: #222;
}
.card a img {
  width: 20px;
  height: 20px;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}
.loading div {
  width: 1rem;
  height: 1rem;
  margin: 2rem 0.3rem;
  background: #222;
  border-radius: 50%;
  animation: 0.9s bounce infinite alternate;
}
.loading div:nth-child(2) {
  animation-delay: 0.3s;
}
.loading div:nth-child(3) {
  animation-delay: 0.6s;
}


@keyframes bounce {
  to {
    opacity: 0.3;
    transform: translate3d(0, -1rem, 0);
  }
}